.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  height: 100%;
  border-top-right-radius: var(--border-radius-l);
  border-top-left-radius: var(--border-radius-l);
  background-color: var(--color-white);
}
