.tabs {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-m);
  background-color: var(--bg-grey);
  position: relative;
  max-width: 500px;
  padding: .5rem;
}

.toggle {
  height: 42px;
  width: 100%;
  border-radius: var(--border-radius-m);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-m);
  font-weight: 500;
  padding: 8px 7px 7px 7px;
}

.toggle :hover {
  cursor: pointer;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}


.disabled {
  background-color: transparent;
  color: var(--color-disabled);
}

.tabToggle {
  position: absolute;
  height: 100%;
  top: 65px;
  width: 100%;
  justify-content: center;
}

.tabContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tabContent {
  width: 100%;
  border-radius: var(--border-radius-m);
  margin: 1rem auto;
}

.tabTitle {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -2rem;
}

.elementsCount {
  border-radius: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: .2rem;
  right: -2rem;
  color: var(--color-white);
  font-size: var(--font-size-xs);
  width: 23px;
  height: 23px;
}

.activeElementsCount {
  background-color: var(--button-primary);
}
.disabledElementsCount {
  background-color: var(--color-disabled);
}

